<!DOCTYPE html> 
<html> 
    <head> 
        <title><%= title %></title> 
    </head> 
    <body> 
        <img src="img/atom-loader.gif" alt="Loader">
        <h1><%= title %></h1>
        <h2><%=  sessionTrack %></h2>
    
    </body>
</html>